.cctvgw_con03 .hot .l i {background: #e42626 none repeat scroll 0 0 !important;color: #fff !important;}
.cctvgw_con03 .text_160112 ul .cur i {background: #e42626 none repeat scroll 0 0;color: #fff;float: left;height: 20px;text_160112-align: center;width: 30px;font-family: Arial;line-height: 20px;text-align:center}
.cctvgw_con03 .text_160112 {clear: both;}
.md .md_hd .mh_option .more_btn:hover {
}
.cctvgw_con03 .text_box h3 a {color: #333;}
.md {
	background:none;
	border:none;
	clear:both;
	margin:0;
	padding:0;
}
.cctvgw_con03 { clear: both;}
.cctvgwA_ind04_160119 .image_box:hover .mask {display:block; }
.md .md_hdc {
	display:none;
}
.cctvgw_con03 .title {border-bottom: 1px solid #324b5d;color: #fff;height: 33px;margin-bottom: 10px;}
.md .md_ftc {
	display:none;
}
.md .md_hd .mh_title b {
}
.md .md_hd .mh_title a {
	background-color:none;
	color:#221e1f;
}
.md .md_hd .mh_option {
	font-size:14px;
	font-family:"宋体";
	background-color:none;
	float:right;
	padding-right:0px;
	font-weight:normal;
	color:#1e63b0;
}
.md .md_hd .mh_option a {
	color:#1e63b0;
}
.hide {
	height:10px;
	overflow:hidden;
}
.ELMTQGofw9z2FgpkoTtm1B4j160119 .vspace_jj {height:20px;}
.cctvgw_con03 .more_160112 a:hover {background: #999 none repeat scroll 0 0;border: 1px solid #999;color: #fff;text-decoration: none;}
.column_wrapper_1000_xw {
	clear:both;
	margin:0 auto;
	width:1000px;
}
.ELMTrRdbne9sOaMlZ3lF1fQY160113 .vspace_jj {height:20px;}
.cctvgw_con03 .text_box {height: 75px;margin-bottom: 7px;overflow: hidden;padding-top: 5px;}
.cctvgw_con03 .text_box h3 {color: #333;font: 14px/22px "微软雅黑"; margin-top:0px;}
.cctvgw_con03 .text_box .right {float:right; margin-right:10px; margin-top:6px;}
.ELMTvuYijA22lxiqjKqA6Jyl160113 .md .md_bd {padding:0px;}
.cctvgwA_ind04_160119 .image_box {background:#e4e4e4;text-align:center; width:320px; height:100px; float:left; margin:0 20px 0 0; position:relative}
.md .md_hdc b {
}
.cctvgw_con03 .text ul li {font-family: "微软雅黑";font-size: 15px;line-height: 20px;margin: 0;overflow: hidden;padding-bottom: 5px;
		padding-top: 5px;vertical-align: bottom;}
.cctvgw_con03 .text ul .cur i {background: #e42626 none repeat scroll 0 0;color: #fff;float: left;height: 20px;text-align: center;width: 30px;font-family: Arial;line-height: 20px;}
.cctvgw_con03 .text_box .center { float:left; width:100px;}
.cctvgw_con03 .text ul li i {background: #dcdcdc none repeat scroll 0 0;color: #1f2022;float: left;font-family: Arial;height: 20px;line-height: 20px;
		text-align: center;width: 30px;}
.cctvgwA_ind04_160119 .image_box .mask {display:none; width:100%; height:100px; left:0; top:0; position:absolute; background:#000; opacity:0.2; filter:alpha(opacity=20);	-moz-opacity:0.2;  -khtml-opacity:0.2; }
.md .md_ftc b {
}
.cctvgw_con03 .qushi3 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/zoushidown.png) no-repeat scroll 0 0; width:9px; height:12px;}
.ELMTeLppxdTRwrOBIhEWJ2Lh160119 .vspace_jj {height:40px;}
.cctvgw_con03 .more_160112 a {background: #e42626 none repeat scroll 0 0;border: 1px solid #e42626;color: #fff;display: block;float: left;font: 15px/50px "微软雅黑";height: 50px;margin-right: 20px;text_160112-align: center;width: 148px;text-align:center;}
.cctvgw_con03 .qushi2 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/zoushiyi.png) no-repeat scroll 0 0; width:9px; height:12px;}
.cctvgw_con03 .text ul li a {color: #1f2022;}
.cctvgw_con03 .qushi1 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/zoushiup.png) no-repeat scroll 0 0; width:9px; height:12px;}
.cctvgw_con03 .text_box .l i {background: #cccccc none repeat scroll 0 0;color: #fff !important;display: block;font: 14px/20px Arial;height: 20px;
		left: 0;position: absolute;text-align: center;top: 0;width: 30px;}
.cctvgw_con03 .text_160112 ul li i {background: #dcdcdc none repeat scroll 0 0;color: #1f2022;float: left;font-family: Arial;height: 20px;line-height: 20px;text_160112-align: center;width: 30px;text-align:center;}
.md .md_hd .mh_title {
	font-size:21px;
	font-family:;
	margin-left:10px;
	float:left;
	background:none;
	margin:0;
	padding:0;
	color:#1e63b0;
	display:block;
	border-bottom:2px solid #ee0012;
	z-index:9999;
}
.cctvgw_con03 .text_160112 ul li a {color: #1f2022;}
.cctvgw_con03 .text_box .l {margin-right: 10px; width:120px; position: relative;}
.col_320_160113 {background: #f9f9f9 none repeat scroll 0 0;float: left;margin-right: 20px;width: 320px;}
.md .md_hd .mh_option .more_btn {
}
.cctvgw_con03 .zoushi03 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/zoushidown.png) no-repeat scroll 0 0; width:9px; height:12px;}
.cctvgw_con03 .title_160112 {border-bottom: 1px solid #324b5d;color: #fff;height: 33px;margin-bottom: 10px;}
.cctvgw_con03 .zoushi02 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/zoushiyi.png) no-repeat scroll 0 0; width:9px; height:12px;}
.cctvgw_con03 .zoushi01 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/zoushiup.png) no-repeat scroll 0 0; width:9px; height:12px;}
.cctvgw_con03 .l {float: left;}
.cctvgw_con03 .title_160112 span {background: #1e63b0 none repeat scroll 0 0;float: left;font: bold 17px/33px "微软雅黑";padding: 0 30px;}
.cctvgw_con03 .text_160112 ul {padding:0;}
.cctvgw_con03 .text {clear: both;}
.cctvgw_con03 .title span {background: #1e63b0 none repeat scroll 0 0;float: left;font: bold 17px/33px "微软雅黑";padding: 0 30px;}
.md .md_bd {
	border:none;
	clear:both;
	word-wrap:break-word;
	overflow:visible;
	background-color:#fff;
	background-image:none;
	height:auto;
	padding:10px;
	background-repeat:no-repeat;
	background-position:center bottom;
	background:none;
	margin:0;
}
.vspace_jj {
	height:10px;
	font-size:0px;
	line-height:0px;
	width:99%;
	clear:both;
}
.column_wrapper_1000_xw:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.md .md_hd {
	background:none;
	clear:both;
	color:#333;
	font-weight:bold;
	height:43px;
	line-height:43px;
	overflow:visible;
	padding:0;
	border-style:solid;
	border-width:0 0 1px 0;
	background-image:none;
	background-repeat:repeat;
	border-bottom-width:1px;
	border-color:#ccc;
	background-position:0  0 !important;
	position:relative;
	margin:0;
	border:none;
	border-bottom:2px solid #e5e5e5;
	font-family:"微软雅黑";
}
.cctvgw_con03 .text_160112 ul li {font-family: "微软雅黑";font-size: 15px;line-height: 20px;margin: 0;overflow: hidden;padding-bottom: 5px;padding-top: 5px;vertical-align: bottom;}
.ELMTvuYijA22lxiqjKqA6Jyl160113 .md {border-width:0px;}
.cctvgw_con03 .text ul {padding:0;}