.gwA151201_ind06 .list_bd .right span:hover { background:#e42626;}
.cctv .md .md_hd .mh_title a i {float:left; display:block;}
.ELMTDiQOcWKWwFxeJK677UTj160614 .vspace_jj {height:36px;}
.cctv .md .md_hd .mh_option { font-weight:normal; padding-right:0px;font-family:"宋体"; font-size:14px; color:#1e63b0; float:right;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 a { width:125px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; font-size:12px; font-family:Arial,"宋体"; color:#999; margin-left:0px; display:inline-block; height:29px; vertical-align:middle; line-height:29px;}
#jiemuyaof1 .scrollBox .pageCount .page { color:#fff;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .text2 a { color:#f6f6f6}
.cctv .gw_con03 .text_box:hover .text p,.cctv .gw_con03 .text_box:hover .text p a,.cctv .gw_con03 .text_box:hover .text span,.cctv .gw_con03 .text_box:hover .text span a {color:#fff}
body .r, body .right {
	clear:none;
	float:right;
}
.cctv .md .md_hd .mh_option a {color:#1e63b0}
#jiemuyaof1 .scrollMid ul.mlist01 { height:155px;width: 9999px;position: absolute;left: 0;}
.cntv_topbar .sub td.last {
	text-align:right;
	width:30px;
}
#jiemuyaof1 .scrollMid ul.mlist01 .image:hover img {transform: scale(1.05);transition:all 1s ease 0s ;}
.cctv .gw_con03 .text_box .text p { padding-left:12px;  font-family:"宋体"; font-size:14px; color:#333; line-height:22px; padding-top:3px;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box:hover .imges3 .play { display:block}
#jiemuyaof1 .scrollMid ul.mlist01 li .text a {color:#1e1f21;}
body .c, body .c {
	text-align:center;
}
.cctv .cctvgwA_ind02 .text ul li { vertical-align:bottom; height:20px;padding-top:5px; padding-bottom:5px; width:235px;overflow:hidden; margin:0; zoom:1;font-family:"宋体"; font-size:12px; line-height:20px;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .click_right .left_button:hover {background-image: url("http://p1.img.cctvpic.com/photoAlbum/templet/special/PAGEwCMjjv7vgfwzmptcy0lN160131/ELMTawUBnX5XqE8cHX39qHpS160613_1484876999.png");}
.gwA151201_ind06 .right { width:470px; float:right;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .text2 a:hover {text-decoration:none}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .title_left i {margin-left:50px;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt ul li {float:left; font-family:"宋体"; font-size:14px; color:#333; line-height:20px; width:235px;}
.cctv .gw_con03 .list_box:hover .text { background:#1e63b0}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .title_left a {color:#007cb5;margin-left:40px;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .text p { line-height:18px; margin-bottom:10px;}
.jiemugw13936_160104_ind01 .img .kj .w_1550 .text_box { float:left}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .click_right .left_button {background-image: url("http://p1.img.cctvpic.com/photoAlbum/templet/special/PAGEwCMjjv7vgfwzmptcy0lN160131/ELMTawUBnX5XqE8cHX39qHpS160613_1495869399.png");}
.column_wrapper {clear: both;margin: 0 auto;text-align: left;}
#jiemuyaof1 .mtad_hd .click_right .right_button:hover {background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/right_button_hover_0613.png);background-repeat:no-repeat;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box img { border:none;}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show {border:none;float:left;height:432px;margin-right:20px;position:relative;width:490px;overflow:hidden;}
.cntv_topbar .loginbox {
	color:#515151;
	padding-top:8px;
	*padding-top:9px;
	float:right;
}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .text p a { color:#999}
#jiemuyaof1 .scrollBox .right_btn {background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/compose03_r_0613.png);background-repeat:no-repeat;cursor: pointer !important;height: 30px;position: absolute;right: 33px;top:43px;width:30px;z-index: 9999;}
.cntv_topbar_bg {
}
#jiemuyaof1 .scrollMid ul.mlist01 .image .plus {display: block;position: absolute;left: 0;top: 0;background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/p02_plus.png);background-repeat:no-repeat; width: 32px;height: 32px;}
.vspace_jj {
	height:10px;
	font-size:0px;
	line-height:0px;
	width:99%;
	clear:both;
}
.cctv .gw_con03 .list_box .img .zi ul { width:235px;}
.cctv .md .md_hd .mh_title a {color:#221e1f; display:block;}
#jiemuyaof1 .scrollMid ul.mlist01 .image:hover .plus {background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/p02_cur_plus.png);background-repeat:no-repeat;}
.bg_top_owner {
}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box2 .text2 a { color:#f6f6f6}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .imges3 .mask {position:absolute;left:0;top:0;display:none;height:175px;width:235px;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_3:hover { color:#fff; text-decoration:none;}
#jiemuyaof1 .mtad_hd .click_right .left_button:hover {background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/left_button_hover_0613.png);background-repeat:no-repeat;}
.bg_bottom_h_tile {
}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollMid ul.mlist01 li:hover .text {background-color:#f0576f;}
.cctv .gw_con03 .list_box .img .zi ul .end { margin-right:0 !important}
.cctv .cctvgwA_ind02 .hot_words a:hover {background:#1e63b0; color:#fff; text-decoration:none;}
#page_bottom .cntv_footer .bottom_copyright p {
	float:left;
	width:530px;
	_display:inline;
	text-align:center;
	line-height:22px;
	font-size:12px;
}
.cctv .gw_con03 .list_box .img .zi ul li a { text-decoration:none; display:inline-block;  padding:0 5px; line-height:25px; font-family:"宋体"; font-size:14px; color:#fff}
.cctv .gw_con03 .list_box .text span a {color:#999}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollMid ul.mlist01 li:hover .text a.gd {color:#6a0005;}
.jiemugw13936_160104_ind01 {min-width:1010px;background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/160104_ind01.png) repeat-x 50% 0; }
.cctv .gw_con03 .text_box .img .tp1 a { display:block; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi5.png) no-repeat; width:32px; height:32px;}
.gwA151201_ind06 .list_bd .right span.active { background:#e42626;}
.cntv_topbar .multilang {
	color:#b91d1e;
	float:left;
	line-height:30px;
}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .arr_l a {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi28.png) no-repeat;display:block;height:41px;width:31px;}
#jiemuyaof1 .mtad_hd .click_right .left_button {width: 6px;height: 11px;display: inline-block;vertical-align: middle;background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/left_button_0613.png);background-repeat:no-repeat;}
#page_bottom .cntv_footer a {}
#page_bottom .cntv_footer .bottom_link p a {
	padding:0 2px 0 3px;
}
.cctv .cctvgwA_ind02 .ul_nr ul .li_3 .i_ts2 {width:70px; height:36px; overflow:hidden; display:inline-block; margin-top:-2px; }
.cctv .gw_con03 .kj2 .end { margin:0 !important}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd a {color:#0054a5;}
body .l, body .left {
	clear:none;
	float:left;
}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .text h3 { font:bold 17px/20px "微软雅黑"; margin-bottom:8px; padding-bottom:10px; border-bottom:solid 2px #e5e5e5; color:#1e63b0}
#jiemuyaof1 .scrollMid ul.mlist01 li .text em { font-weight:bold;}
.cntv_topbar .loginbox .download.dlblack {
	background-position:0 -127px;
}
#page_bottom .cntv_footer {
}
body, div, p, ul, ol, dl, dt, dd, li, form, input, table, img, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollMid ul.mlist01 li .text {background-color:#fff;}
.cctv .gw_con03 .list_box .img .zi ul li a:hover { color:#e42626}
.cctv .col_745_235 .col_w235 { width:235px; float:right;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_2:hover { background:#e42626; color:#fff; text-decoration:none;}
.cctv .gw_con03 .kj { float:left; width:490px;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box2 .imges2 .play { position:absolute; left:229px; top:71px;display:none;  height:32px; width:32px; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi5.png) no-repeat left 0;}
.cntv_topbar .loginbox .download {
	background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/bar.png) no-repeat 0 -88px;
	color:#373737;
	height:13px;
	padding:1px 0 0 19px;
}
.cctv .gw_con03 .kd {}
.gwA151201_ind06 .list_bd .left span.active {background-color: #1e63b0; border-color:#a1a7d0;}
.jiemugw13936_160104_ind01 .img .kj .kk {overflow:hidden;padding-top:32px;}
.cctv .cctvgwA_ind02 .ul_nr ul li { width:235px;}
#jiemuyaof1 .mtad_hd .title_right { float:right; margin-right:137px;}
.cctv .md .md_hd .mh_option3 a:hover { text-decoration:none; color: #e42626;}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .arr_r {position:absolute;right:0px;top:178px;z-index:999;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .text { width:255px; float:left; font-family:"宋体"; font-size:12px;  padding-left:0;color:#999; background:none}
.cctv .gw_con03 .text_box .text span { padding-left:12px; font-family:"宋体"; font-size:12px; color:#999; line-height:20px;}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .arr_l {position:absolute;left:0px;top:178px;z-index:999;}
.cctv .gw_con03 .text_box .text span a {color:#999}
.cntv_topbar .loginbox .upload {
	background-position:0 -50px;
}
body {
	background:none repeat scroll 0 0 #FFFFFF;
	color:#333333;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	margin-top:0;
}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .arr_r a:hover {background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi27_hover.png);}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box {width:235px;  float:left; margin-right:20px; padding-bottom:18px; position:relative}
#jiemuyaof1 .scrollBox .left_btn {background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/compose03_l_0613.png);background-repeat:no-repeat;cursor: pointer !important; height: 30px;left:33px;position: absolute;top:43px;width: 30px;z-index: 9999;}
.cntv_topbar .sub a {
	color:#102c38;
}
.gwA151201_ind06 .list_bd h3 a:hover { text-decoration:none; color: #e42626;}
.cctv .gw_con03 .list_box .text p a { color:#333}
.gwA151201_ind06 .list_bd .right span:hover a {color:#fff;background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon02_pindao_151224.png) no-repeat left 50%;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd {background-color:transparent;background-image: url("http://p1.img.cctvpic.com/photoAlbum/templet/special/PAGEjfa0f3PkOIb1gAX72z5R160111/ELMTC504cyjS8s9hiw870cH9160713_1540955132.png");border-color:#003370;height:42px;color:#0054a5;}
.cctv .gw_con03 .text_box .text { height:50px; background:#f3f3f3}
#jiemuyaof1 .scrollMid ul.mlist01 li.cur .text a {color:#ffffff;}
.gwA151201_ind06 .list_bd .left span.active i {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon04_pindao_151224.png) no-repeat;}
.cctv .cctvgwA_ind02 .text ul li i { width:16px; height:16px; border:none; font-family:Arial; line-height:16px; text-align:center; background:#dcdcdc; color:#1f2022; float:left}
#page_bottom .cntv_footer .bottom_link {
	padding:10px 0 0;
	line-height:22px;
	text-align:center;
	font-family:"宋体";
}
#jiemuyaof1 .scrollMid ul.mlist01 li:hover .text a {color: #fff;}
.gwA151201_ind06 .list_bd .left span.active a {color:#fff;}
#jiemuyaof1 .mtad_hd .click_right .num {margin: 0 4px;font-size: 16px;margin-right: 0;}
.cctv .cctvgwA_ind02 .text ul li b { font-weight:bold;font-family:Arial; font-size:10px; color:#9d9d9d; }
.cctv .cctvgwA_ind02 .text ul li a { color:#1f2022}
.cctv .md .md_hd .mh_option4 a {color:#1e63b0; display:inline-block; margin-right:60px;}
a:hover, a:active {
	text-decoration:underline;
}
#jiemuyaof1 .mtad_hd .title_left img {margin-top:5px;margin-left: 20px;float: left;}
.cctv .gw_con03 .text_box .img { position:relative; width:235px; height:132px;}
.gwA151201_ind06 .list_bd .left span:hover i {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon04_pindao_151224.png) no-repeat;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .click_right {display:none;}
.cctv .gw_con03 .list_box:hover .text p,.cctv .gw_con03 .list_box:hover .text p a,.cctv .gw_con03 .list_box:hover .text span,.cctv .gw_con03 .list_box:hover .text span a {color:#fff}
.gwA151201_ind06 .list_bd .left span:hover a {color:#fff;}
.cntv_topbar {
	background:none repeat scroll 0 0 #E6E6E6;
	clear:both;
	font-family:"宋体";
	height:55px;
}
.gwA151201_ind06 .list_tianjia a {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon05_pindao_151224.png) no-repeat 0 50%;color:#fff;display:inline-block;padding-left:24px;text-decoration:none}
ul:after, ol:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.cctv .cctvgwA_ind02 .ul_nr ul li .i_ts {width:0; height:36px; overflow:hidden; display:inline-block; margin-top:-2px; }
.jiemugw13936_160104_ind01 .img {background-repeat:no-repeat; background-position:50% 0; background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/1000_top.jpg);}
.cctv .gw_con03 .text_box .img .jb { position:absolute; right:-1px; top:-1px;*right:0px; *top:0px; z-index:999}
.jiemugw13936_160104_ind01 .img .kj {height:497px;margin:0 auto;position:relative;width:1000px}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box:hover .text2 a { color:#e42626}
#jiemuyaof1 .mtad_hd .click_right .number {margin: 0 7px;font-size: 16px;margin-left: 0;}
#jiemuyaof1 .scrollBox {position: relative;padding-top:9px;border-width:medium 1px; border-style:none solid;border-color:#e6e6e6;}
a.on:hover, a.cur:hover, .on a:hover, .cur a:hover {
	text-decoration:none;
}
.cctv .gw_con03 .list_box:hover .img .tp1 { display:block;}
a:link, a:visited {
}
#jiemuyaof1 .scrollBox .right_bottom {display:block;width: 10px;height: 12px;position:absolute;bottom:-3px;right: -10px;background: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/yaofeng_right_bottom.png) no-repeat;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_c02 {color:#1e63b0; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/pdgwA151203_ind03_bg3_03.jpg) no-repeat left 0;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_c01 {color:#666; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/pdgwA151203_ind03_bg5_03.jpg) no-repeat left 0;}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .text_box {display:none;left:0;position:relative;top:0;z-index:0}
#page_bottom .cntv_footer .bottom_copyright {
	width:690px;
	margin:0 auto;
	padding-bottom:16px;
	_height:1px;
	min-height:1px;
	font-family:"宋体";
	font-size:12px;
}
.cctv .cctvgwA_ind02 .ul_nr ul li:hover {}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt ul li a:hover {text-decoration:underline}
.gwA151201_ind06 {border:solid 1px #e5e5e5;}
#page_bottom .cntv_footer, #page_bottom .cntv_footer a {
	color:#a3a3a3;
}
.cctv .md .md_hd .mh_title02 a {color:#221e1f;}
.cctv .md .md_hd .mh_option5 { font-weight:normal; padding-right:0px;font-family:"宋体"; font-size:14px; color:#1e63b0; float:none; position:absolute; top:13px; right:0; }
#jiemuyaof1 .scrollBox .pageCount .count { color:#fff;}
.cctv .md .md_hd .mh_option4 { float:right; padding-left:30px; font-weight:normal; padding-right:10px; font-family:"宋体"; font-size:12px; line-height:43px; color:#1e63b0}
.cctv .md .md_hd .mh_option3 { background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi31.png) no-repeat 11px 16px; float:right; padding-left:30px; font-weight:normal; padding-right:10px; font-family:"宋体"; font-size:14px; color:#1e63b0}
#jiemuyaof1 .scrollMid ul.mlist01 li .text {font: 14px/18px "宋体";height:31px;padding: 4px 7px 8px;position: relative;color: #1e1f21;background-color: #fff;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .text h3 a { color:#1e63b0}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_4 { width:48px; height:20px; line-height:20px; text-align:center; display:inline-block; margin-left:0; color:#fff; background:#999; font-size:12px; margin-right:10px;}
.cctv .md .md_hd .mh_option2 { width:270px; text-align:left; float:right; font-family:"微软雅黑"; font-size:24px; color:#333;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_3 { width:48px; height:20px; line-height:20px; text-align:center; display:inline-block; margin-left:0; color:#fff; background:#1e63b0; font-size:12px; margin-right:10px;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .title_right {margin-right:137px;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_2 { width:48px; height:20px; line-height:20px; text-align:center; display:inline-block; margin-left:0; color:#fff; background:#666; font-size:12px; margin-right:10px;}
#jiemuyaof1 .mtad_hd .title_right a { padding-right:24px;}
.cctv .md .md_hd .mh_title02 a:hover {color:#e42626;text-decoration:none}
.cntv_topbar .main {
	background:#e6e6e6 none;
	height:30px;
	margin:0 auto;
	position:relative;
	width:960px;
}
.cctv .cctvgwA_ind02 .hot_words { clear:both;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 span { font-family:"宋体"; font-size:12px; color:#999; margin-right:5px; display:inline-block; height:29px; vertical-align:middle;line-height:29px; padding-left:15px; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/pdgwA151203_ind03_bg5_03.jpg) no-repeat 0px 0;}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .arr_l a:hover {background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi28_hover.png);}
ul, ol {
	list-style-type:none;
}
.cctv .gw_con03 .text_box .img .tp1 { display:none;position:absolute; left:100px; bottom:50px; z-index:999}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .change i.cur {background:#e42626;}
.jiemugw13936_160104_ind01 .img .kj .kj2 { float:left; width:490px; }
img, a img {
	border:0 none;
}
#jiemuyaof1 .scrollMid ul.mlist01 li:hover .text {background-color: #1e63b0;height: 44px;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box2 {float:left; margin-right:20px; padding-bottom:18px;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .imges3 { position:relative;zoom:1;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .imges .play { position:absolute; left:229px; top:183px;display:none;  height:32px; width:32px; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi5.png) no-repeat left 0;}
.ELMT2tIGRJCTHLw2wRFA5Aec160713 .vspace_jj {height:36px;}
#nav_lt31 {
}
.cntv_topbar .sub td.first {
	text-align:left;
	width:42px;
}
.cctv .cctvgwA_ind02 .hot_words a {float:left; display:inline-block; width:71px; height:23px; background:#f5f5f5; border:solid 1px #cecdcc;margin-right:5px; font:12px/23px "宋体"; color:#1e63b0; text-align:center;}
.cctv .gw_con03 .list_box:hover .img .di { display:block}
.gwA151201_ind06 .list_bd .right span { font:12px/24px "微软雅黑"; color:#919191;background-color:#fff; border:1px solid #cccccc; display:inline-block; width:126px; text-align:center; margin-right:25px; *margin-right:20px; margin-bottom:10px; text-decoration:none; cursor:pointer;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .click_right .right_button {background-image: url("http://p1.img.cctvpic.com/photoAlbum/templet/special/PAGEwCMjjv7vgfwzmptcy0lN160131/ELMTawUBnX5XqE8cHX39qHpS160613_1495869449.png");}
.gwA151201_ind06 .list_bd h3 { float:left; width:100%; font:15px/22px "微软雅黑"; color:#1e63b0; margin-bottom:10px;}
.gwA151201_ind06 .left { width:470px; float:left;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box2:hover .imges2 .mask { display:block}
.cctv .cctvgwA_ind02 .text ul li b a {  color:#9d9d9d;}
#jiemuyaof1 .mtad_hd .title_left i {color: #fff;font-size: 24px;font-weight: bold;line-height: 43px;margin-left: 26px;float: left;}
.cctv .md .md_hd .mh_title03 {float:left}
.cctv .md .md_hd .mh_title02 { font-weight:normal;font-family:"微软雅黑"; font-size:15px; line-height:20px; color:#221e1f;  float:right; margin:11px 47px 0 0}
.gwA151201_ind06 .list_bd p { float:left;width:100%;}
#jiemuyaof1 .mtad_hd .title_left a {font: 16px/56px "微软雅黑";color: #fff;float: right;*float: left;margin-left: 5px;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box2 .text2 { font-family:"微软雅黑"; line-height:32px; font-size:15px; color:#f6f6f6}
#jiemuyaof1 .scrollMid ul.mlist01 li.cur .text {background:#0094e4;}
#jiemuyaof1 .scrollMid ul.mlist01 li {height:155px;float: left;width: 196px;margin-right: 7px;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .imges3 .play { position:absolute; left:101px; top:71px;display:none;  height:32px; width:32px; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi5.png) no-repeat left 0;}
.gwA151201_ind06 .list_bd p span { float:left}
.clear_float, .clear {
	clear:both;
	font-size:1px;
	height:1px;
	line-height:1px;
	overflow:hidden;
}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollBox .left_bottom {background-image: url("http://p1.img.cctvpic.com/photoAlbum/templet/special/PAGEjfa0f3PkOIb1gAX72z5R160111/ELMTC504cyjS8s9hiw870cH9160713_1486440154.png");display:none;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .imges { position:relative;zoom:1;}
.cntv_topbar .multilang a {
	color:#b91d1e;
}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1:hover {}
.cctv .md .md_hd .mh_option4 .end { margin:0 !important}
#jiemuyaof1 .scrollBox .right_btn:hover {background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/compose03_rhover_0613.png); background-repeat:no-repeat;}
.cctv .gw_con03 .list_box .img { cursor:pointer; position:relative; width:235px; height:334px;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollBox .left_btn,.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollBox .right_btn {display:none;top:70px;}
#jiemuyaof1 {background-color:#f5f5f5;position: relative;border-width:0 0 3px 0;border-style:none none solid none; border-color:#1e63b0; margin: 0 10px;}
#page_bottom .cntv_footer .bottom_copyright .copyright_gongshang_logo {
	float:right;
	margin-top:10px;
}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_msk {position:absolute;left:0;top:0;display:none;height:175px;width:490px;background:#fff;}
.jiemugw13936_160104_ind01 .img .kj .w_1550 { float:left; margin-left:20px;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollMid ul.mlist01 li:hover .text a {color:#fff;}
.cctv .md .md_hd .mh_title03 img {float:left; margin:0 0 0 40px; vertical-align:middle}
.gwA151201_ind06 .list_tianjia02 a {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon06_pindao_151224.png) no-repeat 0 50%;color:#fff;display:inline-block;padding-left:24px;text-decoration:none}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .text_box img {display:none;}
.cctv .md .md_hd .mh_option3 a {color:#1e63b0}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt {position:absolute;left:0;top:0;display:none;height:170px;padding:10px 10px 0;width:470px;}
.cctv .gw_con03 .list_box:hover .img .zi { display:block;}
.cctv .cctvgwA_ind02 .chblock .zoushi03 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/zoushidown.png) no-repeat scroll 0 4px; width:9px; height:12px;}
.cctv .cctvgwA_ind02 .chblock .zoushi02 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/zoushiyi.png) no-repeat scroll 0 4px; width:9px; height:12px;}
.cctv .cctvgwA_ind02 .chblock .zoushi01 {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/zoushiup.png) no-repeat scroll 0 4px; width:9px; height:12px;}
.gwA151201_ind06 .list_bd {position:relative;overflow:hidden;background:#f5f5f5; padding:10px 20px 20px;}
.cctv .gw_con03 .text_box .img .zi a { color:#fff;}
.cctv .cctvgwA_ind02 .text ul { padding:0; width:235px;}
.cctv .md .md_hd { overflow:visible; position:relative; background:none; margin:0; padding:0; border:none;border-bottom: 2px solid #e5e5e5;  color:#333;font-family: "微软雅黑";height: 43px;line-height: 43px;font-weight:bold;}
#jiemuyaof1 .scrollMid ul.mlist01 li:hover .text a.gd {color:#ffffff; bottom:16px;}
.cctv .gw_con03 .text_box .img .di { width:235px; height:132px; position:absolute; left:0; top:0; display:none; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi6.png) repeat; z-index:1;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box:hover .imges3 .mask { display:block}
.cctv .gw_con03 .text_box { cursor:pointer; float:left; width:235px; margin:0 20px 0 0;}
.gwA151201_ind06 .list_bd .left span i {cursor:pointer; display:block; width:13px; height:13px; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon03_pindao_151224.png) no-repeat; position:absolute; left:-5px; top:-5px;}
.ELMTgYWZl55GVBZVxptT9Lm0160518 .vspace_jj {height:40px;}
.cntv_topbar .subbg {
	background:#f0f0f0 none;
}
#jiemuyaof1 .mtad_hd {background-image:none;background-repeat:no-repeat;background-position:0 0;background-color:#1e63b0;height:43px;padding-top:0px;font:16px/43px "微软雅黑"; color:#ffffff;position:relative;overflow: hidden;border-width:0 0 1px 0;border-style:none none solid none;border-color:#e5e5e5;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollMid ul.mlist01 li .text a {color:#004260;}
.gwA151201_ind06 .list_bd .left span a {color:#333333; display:block; text-decoration:none;}
.gwA151201_ind06 .list_tianjia { cursor:pointer;background:#1e63b0;color:#1e63b0;height:28px;line-height:28px;padding-right:10px;text-align:center}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .mtad_hd .click_right .right_button:hover {background-image: url("http://p1.img.cctvpic.com/photoAlbum/templet/special/PAGEwCMjjv7vgfwzmptcy0lN160131/ELMTawUBnX5XqE8cHX39qHpS160613_1484877021.png");}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .change {position:absolute;right:0px;bottom:10px;z-index:999;}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollMid ul.mlist01 li .text .gd {color:#cf211a;}
.cntv_topbar .loginbox .game {
	background-position:0 -166px;
}
.cctv .md .md_hd .mh_title {background:none; margin:0; padding:0;color:#1e63b0;font-size:21px; display:block; float:left; border-bottom:2px solid #ee0012; z-index:9999;}
.cntv_topbar .sub {
	background:#f0f0f0 none;
	color:#102c38;
	height:25px;
	margin:0 auto;
	width:960px;
}
#jiemuyaof1 .mtad_hd .title_left { float:left;height: 43px; line-height:50px;}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .change i {background:#d0d0d0;cursor:pointer;height:8px;width:8px;margin:0 10px 0  0;display:inline-block;}
.gwA151201_ind06 .list_bd .left span { position:relative; font:12px/24px "微软雅黑"; color:#919191;background-color:#fff; border:1px dashed #cdcdcd; display:inline-block; width:126px; text-align:center; margin-right:25px; *margin-right:20px; margin-bottom:10px; text-decoration:none;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .img { float:left; width:200px; margin:0 15px 10px 0; padding-top:3px;background:none !important;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .text a { color:#f6f6f6}
.jiemugw13936_160104_ind01 .img .kj .kk .pics_show .arr_r a {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi27.png) no-repeat;display:block;height:41px;width:31px;}
.bg_bottom_owner {
}
.bg_center_v_tile {
}
.cntv_topbar .sub td {
	line-height:25px;
	text-align:center;
}
.gwA151201_ind06 .list_tianjia:hover {background:#f5f5f5;}
.cctv .gw_con03 .list_box .img .zi ul li { float:left;  width:190px; border-bottom:1px solid #333; margin-left:25px; margin-bottom:5px;}
#page_bottom .cntv_footer .bottom_link a {
}
.cctv .gw_con03 .list_box .img .di { display:none; position:absolute; left:0; top:0; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi6.png) repeat; width:235px; height:334px;}
.gwA151201_ind06 .list_bd .left span.fix i {display:none}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .text2 { font-family:"微软雅黑"; line-height:32px; font-size:15px; color:#f6f6f6}
.gwA151201_ind06 .list_bd .left span.fix a {color:#fff;}
.cctv .gw_con03 .list_box { float:left; margin-right:20px;}
.cctv .cctvgwA_ind02 .text ul li a:hover { color:#626c81}
.cntv_topbar .loginbox a {
	color:#515151;
}
.cctv .gw_con03 .text_box .img .zi {background: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi6.png) repeat scroll 0 0;bottom: 0;color: #fff;font-family: "宋体";font-size: 14px;line-height: 25px;padding-right: 10px;position: absolute;right: 0;text-align: right;width:225px;z-index: 999;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_4:hover { text-decoration:none;}
#jiemuyaof1 .mtad_hd a {color:#ffffff;}
.cctv .md {background:none; margin:0; padding:0; border:none;}
#jiemuyaof1 .scrollBox .left_bottom {display:block;width: 10px;height: 12px;position: absolute;bottom:-3px;left: -10px;background: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/yaofeng_left_bottom.png) no-repeat;}
.bg_top_h_tile {
}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box2 .text2 a:hover {text-decoration:none}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_c2 {color:#1e63b0;}
.cctv .cctvgwA_ind02 .change { height:43px; position:absolute; left:0; top:0px;}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 .sp_c1 {color:#666;}
#jiemuyaof1 .scrollBox .pageCount { color:#fff;top: -38px; right:16px;}
.cctv .gw_con03 {}
.cctv .gw_con03 .text_box:hover .text { background:#1e63b0}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 .scrollBox .right_bottom {display:none;}
#jiemuyaof1 .scrollMid ul.mlist01 li .text .gd { font:14px/18px "宋体"; position:absolute;right:7px; bottom:3px; color:#114c8e;}
.cctv .gw_con03 .list_box .img .tp1 a { display:block; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi5.png) no-repeat; width:32px; height:32px;}
.gwA151201_ind06 .list_tianjia02 {background:#1e63b0;border-bottom:solid 1px #e5e5e5;color:#1e63b0;height:28px;line-height:28px;padding-right:10px;text-align:center; cursor:pointer;}
.column_wrapper_40 {clear: both;margin: 0 auto;text-align: left;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box2:hover .text2 a { color:#e42626}
#jiemuyaof1 .mtad_hd .title a {color:#1e63b0;}
.cctv .gw_con03 .list_box .text span { padding-left:12px;font-family:"宋体"; font-size:12px; color:#999; line-height:20px;}
.vspace {
	clear:both;
	font-size:0;
	height:10px;
	line-height:0;
	width:99%;
}
.gwA151201_ind06 .list_bd .right span.active a {color:#fff;background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon02_pindao_151224.png) no-repeat left 50%;}
em, b, i {
	font-style:normal;
}
.cctv .cctvgwA_ind02 .ul_nr { overflow:hidden; height:348px;}
.cctv .gw_con03 .list_box .img .zi { display:none; position:absolute; left:0px; top:15px;}
.cctv .gw_con03 .list_box:hover .tp1 { display:block}
.gwA151201_ind06 .list_bd .left span:hover {background-color: #1e63b0; border-color:#a1a7d0;}
.cctv .md .md_hd .mh_title a:hover { text-decoration:none; color: #e42626;}
p {
	line-height:1.25em;
}
.gwA151201_ind06 .list_bd .left span.fix {background-color: #1e63b0;border:solid 1px #1e63b0}
.cctv .col_745_235 { clear:both;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt ul li i { color:#213440}
a {
	color:#000000;
	text-decoration:none;
}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 { height:29px; line-height:29px; }
.jiemugw13936_160104_ind01 .img .kj .kk .text_box2 .imges2 .mask {position:absolute;left:0;top:0;display:none;height:175px;width:490px;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;}
.cctv .md .md_hd .mh_option2 a:hover {  text-decoration:none;color:#666}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt ul li a { color:#333}
.cctv .gw_con03 .list_box .img .tp1 { display:none;position:absolute; left:106px; bottom:152px; z-index:999}
.cctv .md .md_hd .mh_option2 a { border-left:10px solid #213440; padding-left:5px; color:#213440}
.cctv .md .md_hd .mh_title img {vertical-align:middle; float:left; margin-right:10px;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .text p a:hover {text-decoration:underline}
.cctv .md .md_bd { background:none; margin:0; padding:0; border:none; padding:10px; overflow:visible}
.cctv .gw_con03 .text_box:hover .img .di { display:block;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box2 .imges2 { position:relative;zoom:1;}
#page_body {
}
#jiemuyaof1 .mtad_hd .click_right {position:absolute;width:58px;height:25px;right:62px;top:10px;display:inline-block;line-height:25px;z-index: 9999;*top:10px;font-size: 16px;}
.gwA151201_ind06 .list_tianjia:hover a {background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon01_pindao_151224.png) no-repeat 4px 50%;color:#1e63b0;  }
#jiemuyaof1 .scrollMid {height:154px; padding-bottom:10px;width:1425px;overflow:hidden;position: relative;margin: 0 auto;}
#jiemuyaof1 .scrollMid ul.mlist01 .image {width:196px;height:110px;overflow: hidden;position: relative;}
.cctv .md .md_hd .mh_option a:hover { text-decoration:none; color: #e42626;}
.cctv .cctvgwA_ind02 .text ul .cur i { width:16px; height:16px; border:none; text-align:center;   background:#d81b39; color:#fff; float:left}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .text a:hover {color:#e42626; text-decoration:none}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .text h3 a:hover {color:#e42626; text-decoration:none}
#page_bottom .cntv_footer_hdc {
	border-top:solid 1px #ebe7e8;
	margin:0 auto;
	width:960px;
}
.cctv .cctvgwA_ind02 .change li {font: bold 21px/43px "微软雅黑"; color:#1e63b0;text-align:center;height:43px; padding:0px; margin-right:10px; cursor:pointer; float:left;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt ul {clear:both;}
#jiemuyaof1 .mtad_hd .title { font:14px/14px "宋体"; color:#1e63b0; background-color:#FFF; position:absolute; right:106px; bottom:0; padding:0 10px; height:14px; border-left:1px solid #1e63b0;border-right:1px solid #1e63b0;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box2:hover .imges2 .play { display:block}
.cctv .gw_con03 .list_box .text {background:#f5f5f5; width:235px; height:50px;}
.cctv .gw_con03 .text_box .text p a {color:#333}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box:hover .kd_msk {display:block}
.ELMTC504cyjS8s9hiw870cH9160713 #jiemuyaof1 {background-color:#fff;border-color:#003370;}
#page_bottom {
}
.column_wrapper:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.cctv .gw_con03 .text_box:hover .img .tp1 { display:block;}
.cctv .cctvgwA_ind02 .change li.active {color:#e42626; font-weight:bold; border-bottom:2px solid #ee0012;}
.gwA151201_ind06 .list_bd h3 a {color:#1e63b0;}
.jiemugw13936_160104_ind01 .img .kj .kk .text_box .text { font-family:"微软雅黑"; line-height:32px; padding-left:30px; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/jdi17d.png) no-repeat 0 6px; font-size:15px; color:#f6f6f6}
.cctv .gw_con03 .list_box .text p { padding-top:3px; padding-left:12px; font-family:"宋体"; font-size:14px; color:#333; line-height:22px;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box:hover .kd_txt {display:block}
.cctv .col_745_235 .col_w745 { width:745px; float:left;}
.cctv .cctvgwA_ind02 .text { clear:both;zoom:1; padding:0;}
.jiemugw13936_160104_ind01 .img .kj .kj2 .text_box .kd_txt .jrkd {}
.cctv .cctvgwA_ind02 .ul_nr ul .li_1 a:hover { color:#333;}
.cctv .gw_con03 .end { margin:0 !important}
#jiemuyaof1 .scrollBox .left_btn:hover {background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/compose03_lhover_0613.png); background-repeat:no-repeat;}
.cctv .cctvgwA_ind02 .chblock { display:none; height:384px; }
#jiemuyaof1 .mtad_hd .click_right .right_button {width: 6px;height: 11px;display: inline-block;vertical-align: middle;background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/right_button_0613.png);background-repeat:no-repeat;}
.gwA151201_ind06 .list_bd .right span a {color:#333333; text-decoration:none; background:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/icon01_pindao_151224.png) no-repeat left 50%; padding-left:15px;}