@media \0screen\,screen\9 {
	#bid{min-width:1050px;}
	.column_wrapper{ width:1010px;padding:0 20px;}
	.column_wrapper_40{ width:1030px;}
	.column_wrapper_160119{ width:1010px !important;padding:0 20px;}
	.column_wrapper_col_w1010_160119{ width:1010px !important;padding:0 20px;}
	.column_wrapper_1000_xw{width:1010px !important;}
	/*顶通隐藏层*/
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc{ width:1000px}
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc a{ margin-right:13px}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc{ width:1000px}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top iframe{ width:1000px;}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top{ width:1000px}
	.jiemugw13936_160104_ind01 .img{background-repeat:no-repeat; background-position:50% 0; background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/1000_top.jpg) !important;}
	.jiemugw13936_160104_ind01 .img .kj{ width:1010px !important; }
	.w_1550{ display:none}
	
	.gwA151201_ind01 .kj{ width:1010px !important;}
	.retrieve .search{ width:700px !important}
	
	/*频道*/
	.gw_con03 .pd_w1550{ display:none}
	.gw_con03 .kj2 .pd_xw_w1550{ display:none}
	.gw_con03 .kj2 .pd_xw2_w1550{ display:none}
	.gw_con03 .pd_xw2_w1550{ display:none}
	.jiemugw13936_160104_ind01 .img .kj .w_1550{ display:none}
	.jiemugw13936_160104_ind01 .img .kj .w_1255{ display:none}
	/*.gwA151201_ind06 .more_pindao{ height:199px !important;}*/

	/*腰封*/	
	/*#tvcctvyaofeng14826 .scrollMid{width: 1010px !important;}
	#tvcctvyaofeng14826 .scrollBox .left_btn{left: 0 !important;}
	#tvcctvyaofeng14826 .scrollBox .right_btn{right:0 !important;}
	#tvcctvyaofeng14826 .scrollMid ul.mlist01 li{margin-right:8px !important;}*/
	
	#jiemuyaof1 .scrollMid{width:1010px !important;}
	#jiemuyaof1 .scrollBox .left_btn{left:0 !important;}
	#jiemuyaof1 .scrollBox .right_btn{right:0 !important;}
	#jiemuyaof1 .scrollMid ul.mlist01 li{margin-right:7px !important;}
	
	#jiemuyaof2 .scrollMid{width:1010px !important;}
}

@media screen and (max-width: 1350px) {
	#bid{min-width:1050px;}
	.column_wrapper{ width:1010px;padding:0 20px;}
	.column_wrapper_40{ width:1030px;}
	.column_wrapper_160119{ width:1010px !important;padding:0 20px;}
	.column_wrapper_col_w1010_160119{ width:1010px !important;padding:0 20px;}
	.column_wrapper_1000_xw{width:1010px !important;}
	/*顶通隐藏层*/
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc{ width:1000px}
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc a{ margin-right:13px}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc{ width:1000px}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top iframe{ width:1000px;}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top{ width:1000px}
	.jiemugw13936_160104_ind01 .img{background-repeat:no-repeat; background-position:50% 0; background-image:url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/1000_top.jpg) !important;}
	.jiemugw13936_160104_ind01 .img .kj{ width:1010px !important; }
	.w_1550{ display:none}
	
	.gwA151201_ind01 .kj{ width:1010px !important;}
	.retrieve .search{ width:700px !important}
	
	/*频道*/
	.gw_con03 .pd_w1550{ display:none}
	.gw_con03 .kj2 .pd_xw_w1550{ display:none}
	.gw_con03 .kj2 .pd_xw2_w1550{ display:none}
	.gw_con03 .pd_xw2_w1550{ display:none}
	.jiemugw13936_160104_ind01 .img .kj .w_1550{ display:none}
	.jiemugw13936_160104_ind01 .img .kj .w_1255{ display:none}
	/*.gwA151201_ind06 .more_pindao{ height:199px !important;}*/

	/*腰封*/	
	/*#tvcctvyaofeng14826 .scrollMid{width: 1010px !important;}
	#tvcctvyaofeng14826 .scrollBox .left_btn{left: 0 !important;}
	#tvcctvyaofeng14826 .scrollBox .right_btn{right:0 !important;}
	#tvcctvyaofeng14826 .scrollMid ul.mlist01 li{margin-right:8px !important;}*/
	
	#jiemuyaof1 .scrollMid{width:1010px !important;}
	#jiemuyaof1 .scrollBox .left_btn{left:0 !important;}
	#jiemuyaof1 .scrollBox .right_btn{right:0 !important;}
	#jiemuyaof1 .scrollMid ul.mlist01 li{margin-right:7px !important;}
	
	#jiemuyaof2 .scrollMid{width:1010px !important;}
}

@media screen and (min-width: 1350px) and (max-width: 1550px){	
	
	/*顶通隐藏层*/
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc{ width:1255px !important}
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc a{ margin-right:34px !important}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc{ width:1255px !important}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top iframe{ width:1255px !important;}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top{ width:1255px !important}
    .column_wrapper{ width:1255px !important;}
	.column_wrapper_160119{ width:1255px !important;}
	.column_wrapper_col_w1010_160119{ width:1255px !important;}
	.column_wrapper_1000_xw{width:1255px !important}
	.jiemugw13936_160104_ind01 .img{background-repeat:no-repeat; background-position:50% 0; background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/1255_top.jpg) !important;}
	.jiemugw13936_160104_ind01 .img .kj{ width:1255px !important;}
	.w_1550{ display:none}
	.gwA151201_ind01 .kj{ width:1255px !important;}
    .retrieve .logo{ padding-left:0px}
	.retrieve .search{ padding-left:207px !important; width:803px !important}
	
	/*导航部分*/
	.w_1550{ display:block}
	/*.gwA151201_ind01 .kj{ width:1255px}*/
	/*
	.gwA151201_ind01 .nav a{ margin-right:71px;}
	.gwA151201_ind01 .nav2 .xl{ margin-right:71px}
	.gwA151201_ind01 .nav2 .xl2{ margin-right:70px}*/
	.jiemugw13936_160104_ind01 .img .kj .w_1550{ display:none}
	.jiemugw13936_160104_ind01 .img .kj .w_1255{ display:block; width:255px !important}
	.jiemugw13936_160104_ind01 .img .kj .w_1255 .text_box{ margin:0; margin-left:20px;}
	.jiemugw13936_160104_ind01 .img .kj .w_1255 .text_box .kd_txt{ left:-255px}
	.jiemugw13936_160104_ind01 .img .kj .w_1255 .text_box .kd_msk{left:-255px}
	/*频道*/
	.gw_con03 .pd_w1550{ display:none}
	.gw_con03 .kj2 .pd_xw_w1550{ display:none}
	.gw_con03 .kj2 .pd_xw2_w1550{ display:none}
	.gw_con03 .pd_xw2_w1550{ display:none}
	
	/*两图*/
	.gwA151201_ind03 .list_box3 .kj{ width:615px !important; margin-right:25px !important;}
	.gwA151201_ind03 .list_box3 .end{ width:615px !important; margin:0 !important;}	
	.gwA151201_ind03 .list_box3 .kj .text{ width:366px !important;}
	
	/*猜你喜欢*/
	.image_list_box li{ margin-right:35px}
	
	/*更多频道*/
	.gwA151201_ind06 .left{ width:618px !important; float:left;}
	.gwA151201_ind06 .right{ width:594px !important; float:right}
	.gwA151201_ind06 .list_bd .left span{ margin-right:18px !important;}
	.gwA151201_ind06 .list_bd .right span{ margin-right:18px !important;}
	
	/*频道*/
	.col_745_235 .col_w745{ width:1000px !important;}
	.gw_con03 .pd_w1550{ display:block; margin-left:20px; float:left;width:235px;overflow:hidden}
	.gw_con03 .pd_w1550:first .text_box{ display:none}
	
	.gw_con03 .pd_w1550 .end{ margin-top:20px !important;}
	.gw_con03 .pd_w1550 .last{ display:none}
	.gw_con03 .pd_w1550 .text_box{margin-right:0 !important;}
	.gw_con03 .kj2 .pd_xw2_w1550{ display:block; margin-left:20px !important;float:left}
	.gw_con03 .kj2 .pd_xw2_w1550 .text_box{ margin:0 !important;}
	.gw_con03 .kj2 .pd_xw2_w1550 .end{ display:none}
	.gw_con03 .pd_xw2_w1550{ display:block; margin-left:20px !important;float:left}
	.gw_con03 .pd_xw2_w1550 .list_box{ margin:0 !important;}
	.gw_con03 .pd_xw2_w1550 .end{ display:none;}
	.gw_con03 .kd{ width:490px}
	
	/*央视榜单*/
	.cctvgw_con03 .col_320_160113{ width:405px !important; margin-right:20px}
	.cctvgw_con03 .more_160112 a{ width:190px !important; }
	.cctvgw_con03 .text ul li{ width:100% !important}
	.cctvgw_con03 .text_box .center{ float:left; width:200px !important;}
	.cctvgwA_ind04_160119 .image_box{ width:405px !important; margin-right:20px}
	
	/*底部*/
	.gwA151201_ind05{ width:1255px !important;}
	.gwA151201_ind05 .kj .bt{width:1255px !important;}
	
	.gwA151201_ind05 .kjr{ width:1253px !important;}
	.gwA151201_ind05 .kjr .conBox .promList{ width:1037px !important;}
	.gwA151201_ind05 .kjr .conBox .promList .listBox table tr td{ width:16% !important;}
	/*.gwA151201_ind06 .more_pindao{ height:163px !important;}*/
	
	.column_wrapper_40{ width:1275px;}
	/*腰封*/
	/*#tvcctvyaofeng14826 .scrollMid{width:1217px !important;}
	#tvcctvyaofeng14826 .scrollBox .left_btn{left:0px !important;}
	#tvcctvyaofeng14826 .scrollBox .right_btn{right:0px !important;}*/
	
	#jiemuyaof1 .scrollMid{width:1217px !important;}
	#jiemuyaof1 .scrollBox .left_btn{left:10px !important;}
	#jiemuyaof1 .scrollBox .right_btn{right:10px !important;}
	
	#jiemuyaof2 .scrollMid{width:1217px !important;}
}
@media screen and (min-width:1550px){ /*大于等于1440*/
	/*顶通隐藏层*/
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc{ width:1510px !important}
	.gwA151201_ind01 .nav2 .xl .pddq_tp1 .kjc a{ margin-right:55px !important}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc{ width:1510px !important}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top iframe{ width:1510px !important;}
	.gwA151201_ind01 .nav2 .xl2 .lmdq_tp1 .kjc .up_top{ width:1510px !important;}
    .retrieve .logo{ padding-left:10px}
	.retrieve .search{ padding-left:310px !important; width:972px !important}
	.column_wrapper{ width:1550px;}
	.column_wrapper_160119{ width:1550px !important;}
	.column_wrapper_col_w1010_160119{ width:1550px !important;}
	.column_wrapper_1000_xw{width:1550px !important}
	.jiemugw13936_160104_ind01 .img{background-repeat:no-repeat; background-position:50% 0; background-image: url(http://p1.img.cctvpic.com/photoAlbum/templet/common/DEPA1453426578618240/1510_top.jpg)  !important;}
	.jiemugw13936_160104_ind01 .img .kj{ width:1510px !important;}
	/*导航部分*/
	.w_1550{ display:block}
	.gwA151201_ind01 .kj{ width:1510px !important;}
	/*.gwA151201_ind01 .nav a{ margin-right:114px;}
	.gwA151201_ind01 .nav2 .xl{ margin-right:114px}
	.gwA151201_ind01 .nav2 .xl2{ margin-right:113px}*/
	
	.jiemugw13936_160104_ind01 .img .kj .w_1550{ display:block}
	.jiemugw13936_160104_ind01 .img .kj .w_1255{ display:none}
	
	/*两图*/
	.gwA151201_ind03 .list_box3 .kj{ width:770px !important; margin-right:10px !important;}
	.gwA151201_ind03 .list_box3 .end{ width:770px !important; margin:0 !important;}	
	.gwA151201_ind03 .list_box3 .kj .text{ width:510px !important;}
	
	/*猜你喜欢*/
	.image_list_box li{ margin-right:48px}
	
	/*更多频道*/
	.gwA151201_ind06 .left{ width:750px !important;}
	.gwA151201_ind06 .right{ width:750px !important;}
	.gwA151201_ind06 .list_bd .left span{ margin-right:19px !important;}
	.gwA151201_ind06 .list_bd .right span{ margin-right:19px !important;}
	
	/*频道*/
	.col_745_235 .col_w745{ width:1295px !important;}
	.gw_con03 .pd_w1550{ display:block; margin-left:30px !important;}
	.gw_con03 .kj{ width:500px}
	.gw_con03 .list_box{ margin-right:30px !important;}
	.gw_con03 .end{ margin:0 !important;}
	.gw_con03 .kj2{}
	.gw_con03 .kj2 .text_box{ margin-right:30px;}
	.gw_con03 .kj2 .pd_xw_w1550{ display:block; margin-left:30px;float:left}
	.gw_con03 .kj2 .pd_xw2_w1550{ display:block; margin-left:30px;float:left}
	.gw_con03 .pd_xw2_w1550{ display:block; margin-left:30px;float:left}
	.gw_con03 .kd{ width:500px}
	
	/*央视榜单*/
	.cctvgw_con03 .col_320_160113{ width:500px !important; margin-right:25px}
	.cctvgw_con03 .more_160112 a{ width:238px !important;}
	.cctvgw_con03 .text ul li{ width:100% !important}
	.cctvgw_con03 .text_box .center{ float:left; width:300px !important;}
	.cctvgwA_ind04_160119 .image_box{ width:500px !important;margin-right:25px !important;}
	
	/*底部*/
	.gwA151201_ind05{ width:1550px !important;}
	.gwA151201_ind05 .kj .bt{width:1550px !important;}
	.gwA151201_ind05 .kjr{ width:1550px !important;}
	.gwA151201_ind05 .kjr .conBox .promList{ width:1333px !important;}
	.gwA151201_ind05 .kjr .conBox .promList .listBox table tr td{ width:16% !important;}
	
	/*.gwA151201_ind06 .more_pindao{ height:163px !important;}*/
	
	.column_wrapper_40{ width:1570px;}
	/*腰封*/
	/*#tvcctvyaofeng14826 .scrollMid{width: 1420px !important;}*/
	
	#jiemuyaof1 .scrollMid{width: 1420px !important;}
	#jiemuyaof2 .scrollMid{width: 1420px !important;}
	
}
